# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.tox/
*.egg-info/

# Virtual env
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log
app/logger/logs/
server.txt
code.txt

# SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Project Specific
project_document/
tmp/


tests/